{% extends 'base.html'  %}
{% load static %}
{% block content %}

  
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'assets/img/muslimwoman.avif' %}" alt="" data-aos="fade-in" >
      <div class="hero-content" data-aos="fade-up" data-aos-delay="100">
        <h1>Welcome to My Personal Website</h1>
        <p>I'm Abdurkabir Mardhiyyah, an aspiring full-stack developer.</p>
        <a href="{% url 'portfolio' %}" class="btn-get-started">View Portfolio</a>
      </div>
      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Abdurkabir Mardhiyyah</h2>
            <p>I'm an undergraduate studying mathematics and computer-science 
              on a journey to become a full-stack developer</p>
            <a href="about.html" class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>

   {% endblock  %}
