

{% extends 'base.html'  %}

 {% block content %} 

  <main class="main">

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Abdurkabir Mardhiyyah - Resume</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Abdurkabir Mardiyyah</h4>
            Mathematics and Computer Science Undergraduate

              <ul>
                <li>Email:abdurkabirmardhiyyah@gmail.com</li>
                <li>GitHub: https://github.com/Mardhiyyah29</li>
                <li>LinkedIn: Abdurkabir Mardhiyyah</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Undergraduate Degree</h4>
              <h5>Expected Graduation: January 2027</h5>
              <p><em>Fountain University Osogbo,Osun Nigeria</em></p>
              <p>Currently pursuing a B.Sc. in Mathematics and Computer
                 Sciences with a CGPA of 4.21 / 5.0.</p>
                 <p> Final Year :Starting Octorber 2025.</p>
                 <p>Relevant Coursework: Data Structures, Algorithms, Web Development,
                   Database Management,Linear Algebra,Statistics</p>

              </div>


                <h3 class="resume-title"> Technical Skills</h3>
                  <div class="resume-item">
            <p>Languages: Python, JavaScript, HTML, CSS</p>

           <p>Frameworks &amp; Libraries: Django (beginner), ReactJS (beginner), Bootstrap</p>

           <p>Web Development: Front-end development, responsive design, basic back-end development</p>

          <p>Tools: Git, GitHub, SQLite, VS Code, Google Sheets</p>

          <p>Learning: Django REST framework, UI/UX basics, cloud concepts</p>
                  </div>
                      

 <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Full Stack Developer (Trainee/SIWES Intern)</h4>
              <h5>April 2025 - September 2025</h5>
              <p><em>Atibyan Tech Academy, Lagos, Nigeria</em></p>
              <ul>
                <li>Developed a To-Do List App using Django and HTML.</li>
                <li>Built an online bookstore website using ReactJS and Bootstrap.</li>
                <li>Practiced responsive design and component structuring.</li>
              </ul>
      
          </div>
          </div><!-- End Resume Item -->

               
            <h3 class="resume-title">Soft Skills</h3>
                  <div class="resume-item">
<p>Problem-solving</p>
<p>Self-motivation</p>
<p>Willingness to learn</p>
<p>Documentation writing</p>
                  </div>

            <h3 class="resume-title"> Goals and Interests</h3>
                  <div class="resume-item">


<p>Exploring healthtech, fintech, and climate change solutions</p>

<p>Aspiring to blend technology and healthcare innovations</p>

<p>Passionate about building tools to support the Muslim community</p>

<p>Interested in creative arts, language learning, and global impact works</p>
            </div><!-- Edn Resume Item -->

          

          </div><!-- End Col -->
        </div>

      </div>

    </section><!-- /Resume Section -->

  </main>

  {% endblock  %}

